
        .navbar {
            background-color: #4c42a1ef; 
            color: -rgb(20, 19, 19);
            padding: 10px 20px;
            display: flex;
            justify-content: space-between; 
            align-items: center;
            
        }

        .navbar-links {
            list-style: none;
            margin: 1cm;
            padding: 0;
            display: flex;
        }
    
        .navbar-links li {
            margin-right: 20px; 
        }

        .navbar-links a {
            color: rgb(26, 22, 22);
            text-decoration: none; 
            font-family: sans-serif;
            font-weight: bold;
            transition: color 0.3s ease; 
        }

        .navbar-links a:hover {
            color: #ddd; 
        }

        .navbar-login {
            margin-left: auto; 
        }

        .navbar-login a {
            background-color: #5cb85c; 
            color: white;
            padding: 8px 15px;
            text-decoration: none;
            border-radius: 20px; 
            font-family: sans-serif;
            font-weight: bold;
            transition: background-color 0.3s ease;
        }

        .navbar-login a:hover {
            background-color: #4cae4c; 
        }
       
